opencv-python
matplotlib
plantcv==3.10.0
seaborn
rembg
onnxruntime
altair==5.0

# For IA model training
# tensorflow[and-cuda]
tensorflow-cpu  # for 42 dell

# Dependency for wsl and non interactive os
PyQt6

flake8